<% var dir=process.cwd() %>
<%- include (dir+"/core/views/partial/head") %>


<div class=" grid grid-cols-1 md:grid-cols-12 mx-auto">
  <input type="hidden" id="idEvent" value="<%= event.id %>" />
  <div class="  lg:col-start-2 lg:col-end-6">
    <div class=" h-8 titre_section">
      <%= event.nom %>
    </div>
<input type="hidden" id="eventLieu" value="<%= event.lieu %>"/>

    <div class="grid-rows-8">

      <span class="infos">Nombre de place </span> <%= event.nbPlace %> <br>
      <span class="infos">Lieu </span> <%= event.lieu %> <br>
      <span class="infos">Description </span><%=  event.description %>
    </div>

    <% if(estInscrit == 0 ){ %>
    <% if(new Date(event.dateLimit).getTime() > new Date().getTime()){ %>
    <button onclick="inscription()" class="w-28 row-start-8"
      style="background-color: F50756;opacity: 40%;">s'inscrire</button>
    <% } else{ %>
    <span class="w-32 row-start-8" style="background-color: F50756;opacity: 40%;">Date limit dépassé</span>
    <% } %>
    <% } else{ %>
    <span class="w-32 row-start-8" style="background-color: F50756;opacity: 40%;">Vous ête déjà inscrit</span>
    <button onclick="getQRCode('<%= event.id%>')" class="w-28 row-start-8"
    style="background-color: F50756;opacity: 40%;">Télécharger le QRCode</button>
    <% } %>


  </div>

  <div class=" grid-cols-4 lg:col-start-7 lg:col-span-5">
    <section class=" demo-card-wide mdl-card mdl-shadow--2dp col-start-1 col-span-2 gap-2 lg:grid-rows-3 lg:grid-cols-12">

      <span class="infos">date de debut :  <%= new Date(event.dateDebut).toLocaleString() %></span> <br>
      <span class="infos">date fin : <%= new Date(event.dateFin).toLocaleString() %> </span><br>
      <span class="infos">date limit d'inscription : <%= new Date(event.dateLimit).toLocaleString() %></span>


    </section>

    <div id="map" class="lg:col-start-7 lg:col-span-4 col-start-2"></div>
  </div>


</div>

<%- include (dir+"/core/views/partial/footer") %>
<script>
  $(document).ready( async function () {
    // Handler for .ready() called.
 let data= await initMap();

      let coord=[+data[0].lat,+data[0].lon];
            var map = L.map('map', {
      center: coord,
      minZoom: 2,
      zoom: 15
    });

    var marker = L.marker(coord).addTo(map).on("click", () => {
      location.href = "#"
    }); 
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);


  });

  function inscription() {

    $.ajax({
      url: "/events/inscription",
      data: $("#idEvent").val(),
      type: "POST",
      success: () => {
        console.log("inscrit !")
        location.reload();
      }
    })
  }

  function getQRCode(id){
    $.ajax({
      url:"/users/qrcode",
      type:"POST",
      data:id,
      success:()=>{

      }
    })
  }


  async function initMap() {

  let data=await $.get(location.protocol + '//nominatim.openstreetmap.org/search?format=json&q='+$("#eventLieu").val());


  return data;


  }
</script>