<% var dir=process.cwd() %>
<%- include (dir+"/core/views/partial/head") %>


    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
        <% for(let p in partenaires ) { %>

          <div class="mdl-card">
            <div class="mdl-card__title">
               <h2 class="mdl-card__title-text"><%= partenaires[p].nomMoral %><br><%= partenaires[p].adresse %></h2>
            </div>
            <div class="mdl-card__media">
              <img src="../public/image/<%= partenaires[p].avatar %>" width="173" height="157" border="0" alt="" style="padding:10px;">
            </div>
            <div class="mdl-card__supporting-text">
            The Sky Tower is an observation and telecommunications tower located in Auckland,
            New Zealand. It is 328 metres (1,076 ft) tall, making it the tallest man-made structure
            in the Southern Hemisphere.
            </div>
            <div class="mdl-card__actions">
               <a href="http://en.wikipedia.org/wiki/Sky_Tower_%28Auckland%29"><%= partenaires[p].email %></a>
            </div>
          </div>

        <% } %>
    </div>

<!-- Event card -->
<style>
  .demo-card-event.mdl-card {
    width: 256px;
    height: 256px;
    background: #3E4EB8;
  }
  .demo-card-event > .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
  }
  .demo-card-event > .mdl-card__title {
    align-items: flex-start;
  }
  .demo-card-event > .mdl-card__title > h4 {
    margin-top: 0;
  }
  .demo-card-event > .mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
  }
  .demo-card-event > .mdl-card__actions > .material-icons {
    padding-right: 10px;
  }
  .demo-card-event > .mdl-card__title,
  .demo-card-event > .mdl-card__actions,
  .demo-card-event > .mdl-card__actions > .mdl-button {
    color: #fff;
  }
  </style>
    <%- include (dir+"/core/views/partial/footer") %>e>
    <%- include (dir+"/core/views/partial/footer") %>