<% var dir=process.cwd() %>
<%- include (dir+"/core/views/partial/head") %>

<div class="flex-1 h-8 titre_section">
    <%= partenaire.nomMoral %>
    </div>
<div class="h-96 grid grid-rows-10">
  <div class="grid ">
    <% if(isFollowed==0){ %>
<button onclick="follow()" class="w-48 h-12">Suivre</button>
<%}else{%>
followed
  <%}%>
</div>
</div>

    <div class="flex-1 h-8 titre_section">
       Events
        </div>

        <div class="flex flex-row justify-between">
            <% for(let e in listEvents ) { %>
            
            
                <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                  <div class="flex flex-row align-center">
                  <div class="mdl-card__title">
                      <h2 class="mdl-card__title-text"><%=listEvents[e].nom %></h2>
                      <h4 class="mdl-card__title-text"><%=new Date(listEvents[e].dateDebut).toLocaleString() %></h4>
                    </div>
                    <span class=""><%= listEvents[e].categorie %></span>
                    </div>
                    <div>
                     
                    <img src="./image/5560.jpg"     />
                    </div>
            
                    <div class="mdl-card__supporting-text">
                     <%= listEvents[e].description %>
                    </div>
                    <div class="mdl-card__menu">
                      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                        <i class="material-icons">share</i>
                      </button>
                    </div>
                  </div>
            
                <% } %>
            </div>
<%- include (dir+"/core/views/partial/footer") %>
<script>

function follow(){

  let path=location.pathname;
  let id=path.split("/")[2]

  $.ajax({
url:"/partenaires/follow",
type:"POST",
data:id,
success:()=>{

}
    
  })
}

</script>