<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TypeScript CMS</title>
</head>

<body>

  <div class="content">
  <ul id="navigation">
   <li class="active"> <i class="fas fa-home"></i> <a href="/">Home</a></li>
   <li><i class="fas fa-address-book"></i>   <a href="/contact">Contact</a></li>
    <li> <i class="far fa-newspaper"></i>   <a href="/articles">Articles</a></li>

      <li><i class="fas fa-plus-circle"></i>   <a href="/articles/ajouter">Ajouter article</a></li>
</ul>

<div cl6787090ass="main">6+
    <h1>Bienvenue : <%= user %> </h1>


    <p>Vous êtes sur <%= page %></p>


    listes des articles
    <div class="cards">
        <% for(let a in articles ) { %>

          <div class="row2-container">
            
            <div class="box orange">
              <button onclick="deleteArticle('<%= articles[a].id %>')"><i class="fas fa-trash-alt"></i></button>
              <a href="/articles/editer/<%=articles[a].id%>"><i class="fas fa-pen"></i> </a> 
              <h2><%= articles[a].titre %></h2>
              <p><%= articles[a].contenu %></p>
              <p style="float:right"> <a href="/articles/<%=articles[a].id%>">lire l'article</a> </p>
            </div>
          </div>

        <% } %>
    </div>
    </div>
</div>
    <script src="https://kit.fontawesome.com/e2a4bb1024.js" crossorigin="anonymous"></script>
    <style>
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}


        .content {
            display: flex;
            flex-direction: row;
        }
        .main {
            display: flex;
            flex-direction: column;
        }
        .cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.box p {
    color: var(--grayishBlue);
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;  
    width: 200px;
}
.orange {
    border-top: 3px solid var(--orange);
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: gainsboro;
}
ul li{

  font-family: 'Merriweather', serif;
  margin: 10px 0;
  background-color: blanchedalmond;
}
a{
  text-decoration: none;
    line-height: 2%;
}

    </style>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
    <script>

      function deleteArticle(id){

  $.ajax({
    url:"/articles/delete",
    type:"DELETE",
    data:{id:parseInt(id)},
    success:()=>{
      $(".msg").show(100, "swing");
    $(".msg").html(
      '<button type="button"  class="success">Le commentaire a bien &eacute;t&eacute; supprim&eacute;</button>'
    );
    $(".msg").delay(2250).hide(50, "swing");

    }

  })
      }
    </script>
</body>

</html>
