<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TypeScript CMS</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>

  <div class="content">
    <ul id="navigation">
      <li class="active"> <i class="fas fa-home"></i> <a href="/">Home</a></li>
      <li><i class="fas fa-address-book"></i> <a href="/contact">Contact</a></li>
      <li> <i class="far fa-newspaper"></i> <a href="/articles">Articles</a></li>

      <li><i class="fas fa-plus-circle"></i> <a href="/articles/ajouter">Ajouter article</a></li>
    </ul>

    <div class="main">
      <h1>Bienvenue : <%= user %> </h1>


      <p>Vous êtes sur <%= page %></p>
<input type="hidden" id="current_article" value="<%=article.id%>">
      <div class="cards">

        <article>
          <header class="titre">
            <i class="far fa-compass"></i>
            <%= article[0].titre%>
            <i class="far fa-compass"></i>
          </header>
          <p><%= article[0].contenu %></p>

          <footer> by <%= article[0].auteur%></footer>
        </article>
        <br>
        <span class="titre"> Commantaires : </span>

<div class="newcom">
  <div class="msg"></div>
Auteur : <input type="text" id="auteur"> <br>
  <textarea name="" id="myComment" cols="30" rows="10"></textarea> <br>
  <button onclick="addcomment()">ajout</button>
</div>
<br>
<section class="grid grid-flow-row gap-4">
        <% for(let c in article ){%>
          <article class="comment bg-gray-300">
<button onclick="deletecom('<%= article[c].commentairesid %>')"><i class="fas fa-trash-alt"></i></button>
            <p><%= article[c].commentairescommentaire %></p>
  
            <footer> by <%= article[c].commentairesauteur%></footer>
          </article>

        <% } %>
   </section>     
      </div>

      <div>

      </div>


    </div>
  </div>
  <script src="https://kit.fontawesome.com/e2a4bb1024.js" crossorigin="anonymous"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');

    :root {
      --red: hsl(0, 78%, 62%);
      --cyan: hsl(180, 62%, 55%);
      --orange: hsl(34, 97%, 64%);
      --blue: hsl(212, 86%, 64%);
      --varyDarkBlue: hsl(234, 12%, 34%);
      --grayishBlue: hsl(229, 6%, 66%);
      --veryLightGray: hsl(0, 0%, 98%);
      --weight1: 200;
      --weight2: 400;
      --weight3: 600;
    }

    .main {
      margin-left: 2rem;
      display: grid;
      width: 100%;
    }

    .content {
      display: flex;
      flex-direction: row;
      height: 30rem;
    }



    .titre {
      border-top: solid 1px black;
      display: block;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: solid 1px black;
      font-family: 'Fira Sans', sans-serif;
      background-color: gainsboro;
    }

    .cards {
      width: 100%;
    }

    .titre i {
      font-size: 3rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 10%;
      background-color: gainsboro;
    }

    ul li {

      font-family: 'Merriweather', serif;
      margin: 10px 0;
      background-color: blanchedalmond;
    }

    a {
      text-decoration: none;
      line-height: 2%;
    }
  </style>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
  <script>
function addcomment(){
  let article=$("#current_article").val();
  let comment=$("#myComment").val();
  let auteur=$("#auteur").val()
  $.ajax({
    url:"/comments/add",
    type:"POST",
    data:{article: article,auteur: auteur,comment: comment},
    success:()=>{
      $(".msg").show(100, "swing");
    $(".msg").html(
      '<button type="button"  class="success">Le commentaire a bien &eacute;t&eacute; ajout&eacute;</button>'
    );
    $(".msg").delay(2250).hide(50, "swing");

   $("#auteur").val("");
$("#myComment").val("");
    }
  })
}

function deletecom(id){
  console.log(typeof id)
  $.ajax({
    url:"/comments/delete",
    type:"DELETE",
    data:{id:parseInt(id)},
    success:()=>{
      $(".msg").show(100, "swing");
    $(".msg").html(
      '<button type="button"  class="success">Le commentaire a bien &eacute;t&eacute; supprim&eacute;</button>'
    );
    $(".msg").delay(2250).hide(50, "swing");

    }

  })
}
  </script>
</body>

</html>